@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

body {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    margin: 150px;
    width: 100%;
    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat no-repeat;
    background-position: top left, bottom right;
}

/* Conteúdo Superior */

.container-principal {
    width: 100%;
    display: flex;
}

.sobre {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    min-width: 450px;   
}

.titulo-sobre {
    font-weight: 700;
    font-size: 3em;
    color: hsl(300, 43%, 22%);
    padding: 15px 0;
    width: 450px;
}

.texto-sobre {
    font-weight: 400;
    color: hsl(303, 10%, 53%);
    padding: 15px 0;
    width: 450px;
    line-height: 1.5;
    font-weight: 400px;
}

.rated {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    font-weight: 700;
    font-size: smaller;
    color: hsl(300, 43%, 22%);
}

.rated-box {
    align-items: center;
    width: 100%;
}

.rated-box-first, .rated-box-second, .rated-box-third {
    background-color: hsl(300, 24%, 96%);
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 400px;
}

.rated-box-second {
    margin-left: 50px;
}

.rated-box-third {
    margin-left: 100px;
}

.rated-text {
    width: auto;
    padding: 20px 0 20px 30px;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
}

.star {
    background-image: url("../images/icon-star.svg");
    width: 100px;
    height: 20px;
    margin-left: 30px;
    background-repeat: space;
}

/* Conteúdo Inferior */




/* Rodapé */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
